.App {
  background-color: red;
  text-align: center; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-main {
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day-buttons {
  display: flex;
  flex-direction: column;
}


.Posts {
  background-color: green;
}

.Comments {
  background-color: blueviolet;
}


